version: '3.4'
services:
  react-frontend:  
    build: react-frontend
    image: isotherm_fitting_tool/react-frontend:latest
    restart: always
    ports: 
      - "7500:7500"
    stdin_open: true
  isotherm-api:
    build: api
    image: isotherm_fitting_tool/api:latest
    restart: always
    ports:
      - "7501:7501"
    volumes: 
      - ./utility:/app/utility