.container{
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 40px 200 px 40px;

  background-image: url(./component/Coverpic.png);
  /* Full height */
    height: 100%; 

  /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}



