.form-group {
    width: 100%;
    padding: 0.5em;

}

.form-horizontal{
    text-align: left;
}

/*  src/Title.css  */
.Title {
  box-sizing: border-box;
  display: flex;
  flex:1 ; 
  justify-content: center;
  padding: 0.5em;
  font-size: 27px;
  background-color: rgb(12, 26, 224);
  color: rgb(255, 255, 255);
}

.SubTitle {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 0.25em;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.container_form {
  display: flex;
  flex-wrap: wrap;
/*  width: 100%; */
/*   width: 1300px; */
/*  max-width: 1600px; */
  justify-content: center;
  align-items: center;
  flex:1;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(3,2fr); 
  padding: 1em;
  font-size: large;  
/*  margin: 0 auto !important; */ 
  margin: auto;
/*	float: none !important; */
}

.item1style {
  border: 1px solid #aaa;
  border-radius: 10px; 
  padding: 1em;
  background-color: #f0f0f0;
  align-items: center;
  justify-content: center;
/*  margin: 2px;  */ 
  /* min-width: 400px; */
}

.item_style {
  padding: 0.5em;
}
.plotstyle {
  max-width: 550px; 
}

.smaller-input {
  font-size: 12px;
  padding: 2px 5px;
}