.form-group {
    width: 100%;
    padding: 0.5em;

}

.form-horizontal{
    text-align: left;
}

/*  src/Title.css  */
.Title {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1em;
  margin-bottom: 2.5em;
  background-color: rgb(255, 255, 255);
  color: rgb(12, 26, 224);
}
  