.form-group {
    width: 100%;
    padding: 0.5em;

}

.form-horizontal{
    text-align: left;
}

/*  src/Title.css  */
.Title {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1em;
  margin-bottom: 1em;
  background-color: rgb(12, 26, 224);
  color: rgb(255, 255, 255);
}

.container_form {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3,1fr);
  padding: 1em;
  font-size: large;
  font-weight: bold;
  
}

.item1style {
  border: 1px solid #1a202c;
  grid-row: span 2;
  width: 100%;
  padding: 1em;
}

.cardimagestyles {
  background-color: rgb(240, 251, 172);
  border: none;
  width: 35%;
}
  
.cardstyles {
  background-color: rgb(240, 251, 172);
  border: none;
}

.smaller-input {
  font-size: 12px;
  padding: 2px 5px;
}