.form-group {
    width: 100%;
    padding: 0.5em;

}

.form-horizontal{
    text-align: left;
}

/*  src/Title.css  */
.Title {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5em;
  background-color: rgb(12, 26, 224);
  color: rgb(255, 255, 255);
}

.SubTitle {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 0.25em;
  font-size: 27px;
  color: rgb(0, 0, 0);
}

.container_form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(3,2fr);
  padding: 1em;
  font-size: large;  
}

.item1style {
  grid-row: span 2;
  width: 100%;
  padding: 1em;
  background-color: #f0f0f0;
}

.item2style {
  width: 5%;
  padding: 1em;
}

.cardimagestyles {
  background-color: #f0f0f0;
  border: none;
  width: 35%;
}
  
.cardstyles {
  background-color: #f0f0f0;
  border: none;
  width: 100%;
}

.smaller-input {
  font-size: 12px;
  padding: 2px 5px;
}