.form-group {
    width: 100%;
    padding: 0.5em;

}

.form-horizontal{
    text-align: left;
}

/*  src/Title.css  */
.Title {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1em;
  margin-bottom: 1em;
  background-color: rgb(223, 199, 255);
  color: rgb(12, 26, 224);
}

.container_form {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2,1fr);
  padding: 1em;
  font-size: large;
  font-weight: bold;
}

.item1 {
  background-color: rgb(240, 251, 172);
  grid-row: span 2;
  border:'2px solid red',
}

.cardimagestyles {
  background-color: rgb(240, 251, 172);
  border: none;
  width: 50%;
}
  
.cardstyles {
  background-color: rgb(240, 251, 172);
  border: none;
}