.buttonContainer {
  height: 75vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.start-text {
  padding: 2em; 
  font-size: 22px;
  text-align: 'center'; 
  color: rgb(0, 0, 0);
}


.btn-size {
  width: 300px;
  /*padding: 20px 5px; */
  height: 75px !important; 
  width: 300px !important; 
  /*margin-left:50px;
  margin-right:50px; */
}

.form-group {
    width: 100%;
    padding: 0.5em;
}

.form-horizontal{
    text-align: left;
}

.Title {
  box-sizing: border-box;
  display: flex;
  flex:1 ; 
  justify-content: center;
  padding: 0.5em;
  font-size: 27px;
  background-color: rgb(12, 26, 224);
  color: rgb(255, 255, 255);
}

.SubTitle {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 0.25em;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.container_form {
  padding: 2em;
/*  display: flex;
  flex-wrap: wrap;
   width: 100%;  
   width: 1300px; 
  max-width: 1600px; 
  justify-content: center;
  align-items: center;
  flex:1;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(3,2fr); 
  padding: 1em;
  font-size: large;  
  margin: 0 auto !important;  
  margin: auto;
	float: none !important; */
}

.item1style {
  /* border: 1px solid #aaa; */
  border-radius: 20px; 
  /* padding: 1em; */
  background-color: #f0f0f0;
  align-items: center;
  /* justify-content: center; */
/*  margin: 2px;  */ 
  /* min-width: 400px; */
}

.item_style {
  padding: 0.5em;
}
.plotstyle {
  max-width: 550px; 
}

.adsfont_style{
  font-size: 20px;
}

.smaller-input {
  font-size: 12px;
  padding: 2px 5px;
}
